---
import FormattedDate from './FormattedDate.astro';

type Props = {
  isSubheading?: boolean;
  variant: "recent" | "blog",
  pubDate: Date;
  updatedDate?: Date;
  name?: string;
  headline?: string;
  [key: string]: any;
};

const {
  isSubheading = false,
  pubDate,
  updatedDate,
  name,
  headline,
  variant,
  ...props
} = Astro.props;

const previewCard = (variant: "recent" | "blog") => {
  if (variant === "blog") {
    return `flex flex-row w-full justify-between my-4 space-x-2`
  } else if (variant === "recent") {
    return `flex flex-col my-4`
  }
}
---

<div transition:name={name} transition:animate='initial' class={`${previewCard(variant)}`}>
  {
    isSubheading ? (
      <>
        <h4 {...props}>
          <slot />
        </h4>
        <p class='m-0'>
          <FormattedDate date={pubDate} />
        </p>
      </>
    ) : (
      <>
        <div class='md:text-lg text-gray-700 italic'>
          <FormattedDate date={pubDate} />
          {updatedDate && (
            <div class='italic'>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )}
        </div>
        <div class=' text-gray-600 basis-2/3'>
          <p class='text-normal lg:text-end'>{headline}</p>
        </div>
      </>
    )
  }
</div>
