---
import { getCollection } from 'astro:content';
import BlogHeader from './BlogHeader.astro';
import HeroImage from './HeroImage.astro';

const sortedPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<div class='section' transition:animate='initial' id='recent-posts'>
  <ul class='m-0 grid list-none grid-cols-2 gap-6 p-0'>
    {
      sortedPosts.map(
        (post: any, index: number) =>
          index < 1 && (
            <li
              class={`${
                index === 0
                  ? 'mb-4 text-center'
                  : 'md:col-span-1 mx-auto bg-gradient-to-r from-purple-50 to-indigo-50 rounded-xl p-4 hover:scale-105 hover:transition-all'
              } col-span-2 list-none `}
            >
              <a
                href={`/blog/${post.slug}/`}
                class='block transition-colors duration-200 no-underline'
              >
                <HeroImage
                  class={`${
                    index === 0 ? 'mx-auto' : ''
                  } mb-2 rounded-lg hover:shadow-md`}
                  src={post.data.heroImage}
                  alt={post.data.title}
                  width={1536}
                  height={768}
                />
                <BlogHeader
                  pubDate={post.data.pubDate}
                  name={`title-${post.data.title}`}
                  isSubheading={true}
                  variant='recent'
                >
                  {post.data.title}
                </BlogHeader>

                <div class='m-0 text-base text-gray-600 '>
                  {post.data.excerpt}
                </div>
              </a>
            </li>
          )
      )
    }
  </ul>
  <hr  class="mb-10"/>
</div>
