---
// In your astro.build component

import { getCollection } from 'astro:content';
import BlogHeader from "./BlogHeader.astro";
import Container from "./Container.astro";

// Fetch all blog posts
const allPosts = await getCollection('blog');

// const { pathname } = Astro.url;
// console.log('Current URL: ' + pathname);


// Sort the remaining posts by the published date in descending order
const sortedPosts = allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Get the next 4 posts (excluding the current post)
const nextPosts = sortedPosts.slice(0, 4);

---

<Container class="max-w-screen-xl pt-16 px-2 md:px-16 lg:px-20">
  <h3 class="text-center my-5 text-2xl">Recent Posts</h3>
  <ul class='m-0 grid list-none grid-cols-2 gap-6 p-0'>
    {nextPosts.map((post: any, index: number) => (
      <li
        class='md:col-span-1 bg-gradient-to-r from-purple-50 to-indigo-50 rounded-xl p-4 col-span-2 list-none'
      >
        <a href={`/blog/${post.slug}/`} class='block transition-colors duration-200 no-underline'>
          <BlogHeader
            pubDate={post.data.pubDate}
            name={`title-${post.data.title}`}
            isSubheading={true}
            class='text-xl m-0'
          >
            {post.data.title}
          </BlogHeader>
          <div class='m-0 text-base text-gray-600 '>{post.data.description}</div>
        </a>
      </li>
    ))}
  </ul>
</Container>
