---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import PostTitle from '../components/PostTitle.astro';
import HeroImage from '../components/HeroImage.astro';
import Prose from '../components/Prose.astro';
import Gallery from '../components/Gallery.astro';
import BlogHeader from '@components/BlogHeader.astro';


export interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, description, pubDate, updatedDate, heroImage, galleryImages, tags } = post.data;

const { Content } = await post.render();
---

<Layout title={title} description={description}>
  <a
  class="blog-back-button cursor-pointer text-neutral-500 flex no-underline mb-16"
  href="/blog/"
>
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M224 128a8 8 0 0 1-8 8H59.31l58.35 58.34a8 8 0 0 1-11.32 11.32l-72-72a8 8 0 0 1 0-11.32l72-72a8 8 0 0 1 11.32 11.32L59.31 120H216a8 8 0 0 1 8 8"/></svg>
<span class="ml-2">Back</span>
</a>
  <PostTitle>{title}</PostTitle>

  {
    heroImage && (
      <HeroImage
        class='mx-auto block rounded-lg shadow-md'
        width={1536}
        height={768}
        src={heroImage}
        alt={title}
      />
    )
  }
  <BlogHeader pubDate={pubDate} updatedDate={updatedDate} headline={description} variant='blog'/>

  <div class="prose prose-xl mx-auto bg-gradient-to-t from-neutral-50 to-indigo-50 p-4 mb-2">
    <p class="text-lg italic">All the tags used in this post:</p>
    <div class="tags pb-4">
      {tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  </div>

  <div class="border border-b-1 box"></div>

  <Prose>
    <Content />
  </Prose>

  <section class='gallery mt:12 md:mt-24'>
    {
      galleryImages && galleryImages.length > 0 && (
        <Gallery images={galleryImages} />
      )
    }
  </section>
</Layout>

<style>
 .box {
  box-shadow: 0 2px 8px rgba(var(--black), 5%);
 }
</style>

<script>
    // Function to create a Back to history button.
    const buttons = document.querySelectorAll(".blog-back-button");
    if (buttons) {
        buttons.forEach((button) => {
            button.addEventListener("click", () => {
                handleClick();
            });
        });
    }

    function handleClick() {
        if (window.history.length > 1) {
            window.history.back();
        } else {
            window.location.href = "/blog/";
        }
    }
</script>
