---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import PostTitle from '../components/PostTitle.astro';
import HeroImage from '../components/HeroImage.astro';
import Prose from '../components/Prose.astro';
import Gallery from '../components/Gallery.astro';
import BlogHeader from '@components/BlogHeader.astro';


type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, galleryImages, tags } =
  Astro.props;
---

<Layout title={title} description={description}>
  <PostTitle>{title}</PostTitle>

  {
    heroImage && (
      <HeroImage
        class='mx-auto block rounded-lg shadow-md'
        width={1536}
        height={768}
        src={heroImage}
        alt={title}
      />
    )
  }
  <BlogHeader pubDate={pubDate} updatedDate={updatedDate} headline={description} variant='blog'/>

  <div class="prose prose-xl mx-auto bg-gradient-to-t from-neutral-50 to-indigo-50 p-4 mb-2">
    <p class="text-lg italic">All the tags used in this post:</p>
    <div class="tags pb-4">
      {tags.map((tag) => (
        <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
  </div>

  <div class="border border-b-1 box"></div>

  <Prose>
    <slot />
  </Prose>

  <section class='gallery mt:12 md:mt-24'>
    {
      galleryImages && galleryImages.length > 0 && (
        <Gallery images={galleryImages} />
      )
    }
  </section>
</Layout>

<style>
 .box {
  box-shadow: 0 2px 8px rgba(var(--black), 5%);
 }
</style>


