---
import Layout from './Layout.astro';
import BlogHeader from '@components/BlogHeader.astro';
import HeroImage from '@components/HeroImage.astro';
import PostTitle from '@components/PostTitle.astro';
import { SITE_TITLE } from 'src/consts';
import { type CollectionEntry } from 'astro:content';


export interface Props {
    pageNum: number;
    totalPages: number;
    posts: CollectionEntry<"blog">[];
    title: string;
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";

// Remove current url path and remove trailing slash if exists
const currentUrlPath = Astro.url.pathname.replace(/\/+$/, "");

// Get url array from path
// eg: /tags/tailwindcss => ['tags', 'tailwindcss']

const breadcrumbList = currentUrlPath.split("/").slice(1);

---

<Layout title={SITE_TITLE}>
  <PostTitle>Johnny & Leslie Blog</PostTitle>
  <p class="text-lg md:text-xl lg:text-end lg:pr-5 mb-5">Follow our adventures, places and people we have visited and met in our trips.</p>
  <section class="flex justify-between items-center md:px-2">
      <a
      href="/"
      class="font-medium flex no-underline text-neutral-500"
      >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M224 128a8 8 0 0 1-8 8H59.31l58.35 58.34a8 8 0 0 1-11.32 11.32l-72-72a8 8 0 0 1 0-11.32l72-72a8 8 0 0 1 11.32 11.32L59.31 120H216a8 8 0 0 1 8 8"/></svg>
      <span class="ml-2 text-lg">Back to home</span>
      </a>
      {
      breadcrumbList.map((breadcrumb, index) =>
          index + 1 === breadcrumbList.length ? (
              <h2 class="font-medium text-neutral-500 my-4 leading-8 tracking-tighter text-lg">
                  {breadcrumbList[0] === "blog" && "Posts"}
                  <span class="ml-2 opacity-70">
                      {breadcrumbList[0] === "blog" &&
                          `(Page ${breadcrumbList[0 + 1] || 1})`}
                  </span>
              </h2>
          ) : (
              ""
          )
      )
      }
  </section>

  <!-- <p class="my-8 text-xl font-bold">OUR LATEST POST  😀 :</p>
  <LatestPost /> -->
  <p class="my-8 text-xl font-bold">OUR POSTS  😀 :</p>
  <ul class='m-0 grid list-none grid-cols-2 gap-6 p-0'>
    {
      posts.map((post: any, index: number ) =>   (
        <li
          class={`${
            'md:col-span-1 mx-auto bg-gradient-to-r from-purple-50 to-indigo-50 rounded-xl p-4 hover:scale-105 hover:transition-all'
          } col-span-2 list-none `}
        >
          <a
            href={`/blog/${post.slug}/`}
            class='block transition-colors duration-200'
          >
            <HeroImage
              class={`${
                 ''
              } mb-2 rounded-lg hover:shadow-md`}
              src={post.data.heroImage}
              alt={post.data.title}
              width={1536}
              height={768}
            />
            <BlogHeader
              pubDate={post.data.pubDate}
              name={`title-${post.data.title}`}
              isSubheading={true}
              class={`${
                 'underline underline-offset-2 '
              } text-xl m-0`}
              variant="blog"
            >
              {post.data.title}
            </BlogHeader>

            <div
              class={`${
               
                  ''
              } m-0 text-base text-gray-600`}
            >
              {post.data.excerpt}
            </div>
          </a>
        </li>
      ))
    }
  </ul>
  {
    totalPages > 1 && (
        <nav
            class="pagination--container flex flex-wrap mx-auto justify-center mt-8 text-neutral-500"
            aria-label="Pagination"
        >
            <a
                tabindex={prev === "disabled" ? "-1" : "0"}
                href={`/blog${
                    pageNum - 1 !== 1 ? "/" + (pageNum - 1) : "/"
                }`}
                class={`mr-4 select-none flex flex-wrap ${
                    prev === "disabled"
                        ? "disabled select-none pointer-events-none opacity-70"
                        : ""
                }`}
                aria-label="Previous"
                aria-disabled={prev === "disabled"}
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M224 128a8 8 0 0 1-8 8H59.31l58.35 58.34a8 8 0 0 1-11.32 11.32l-72-72a8 8 0 0 1 0-11.32l72-72a8 8 0 0 1 11.32 11.32L59.31 120H216a8 8 0 0 1 8 8"/></svg>
                <span class="ml-2">Prev</span>
            </a>
            <a
                tabindex={next === "disabled" ? "-1" : "0"}
                href={`/blog/${pageNum + 1}`}
                class={`ml-4 select-none flex flex-wrap ${
                    next === "disabled"
                        ? "disabled select-none pointer-events-none opacity-70"
                        : ""
                }`}
                aria-label="Next"
                aria-disabled={next === "disabled"}
            >
                <span class="mr-2">Next</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="m220.24 132.24l-72 72a6 6 0 0 1-8.48-8.48L201.51 134H40a6 6 0 0 1 0-12h161.51l-61.75-61.76a6 6 0 0 1 8.48-8.48l72 72a6 6 0 0 1 0 8.48"/></svg>
            </a>
        </nav>
    )
}
</Layout>
